.title {
  color: var(--primaryColor);
  font-size: 45px;
  font-weight: normal;
  text-align: center;
}

.cursos-list {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(45, 58, 90);
  background: linear-gradient(
    90deg,
    rgba(54, 44, 92, 1) 0%,
    rgba(95, 157, 155, 1) 100%
  );
}
