.post {
  margin-top: 86px;

  * {
    text-align: left;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  img {
    max-width: 100%;
  }

  .embed {
    display: flex;
    width: 100%;
    justify-content: center;
    iframe {
      width: min(100%, 500px);
      height: 300px;
    }
  }

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      min-width: 20px;
    }
  }

  .content-wrapper {
    align-items: flex-start;
  }
}
