.post {
  margin-top: 86px;

  * {
    text-align: left;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  img {
    max-width: 100%;
  }

  .content-wrapper {
    align-items: flex-start;
    time {
      margin-left: auto;
      margin-top: 2rem;
    }
    p {
      text-align: justify;
    }
  }
}
