@use "/src/styles/sizes";
.gridItem {
  margin: 2rem;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: var(--black);
    font-weight: bolder;
  }
  p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
  }
  .image {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: sizes.$laptop-breakpoint) {
  .gridItem {
    max-width: calc(30% - 4rem);
    .image {
      height: 250px;
    }
  }
}
