@use "src/styles/sizes";
.container {
  width: 130px;
  img {
    width: 100%;
  }
  p {
    width: 100%;
  }
}

@media only screen and (min-width: sizes.$tablet-breakpoint) {
  .container {
    width: 168px;
  }
}
