@use "src/styles/sizes";
.courses-container {
  justify-items: center;
  align-items: flex-start;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  h2{
    margin-bottom: 1rem;
  }
  
  h4{
    margin-top: 0px;
    margin: 0;
    color: rgba(54, 44, 92, 1);
  }
}

.benefitsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin: 2rem 0;
}
@media only screen and (min-width: sizes.$tablet-breakpoint) {
  .courses-container {
    grid-template-columns: minmax(0, 570px) minmax(0, 570px);
    grid-template-rows: auto auto ;
  }
}
.colored-background {
  background-color: var(--primaryColor);
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
