@use "src/styles/sizes";
.courses-container {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  grid-template-columns: minmax(0, 570px);
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  column-gap: 3rem;

}

.benefitsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin: 2rem 0;
}
@media only screen and (min-width: sizes.$tablet-breakpoint) {
  .courses-container {
    grid-template-columns: minmax(0, 570px) minmax(0, 570px);
    grid-template-rows: auto auto ;
  }
}
.colored-background {
  background-color: var(--primaryColor);
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
