@use "src/styles/sizes";
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .title {
    position: absolute;
    left: 50%;
    margin: 0;
    letter-spacing: 2px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 500px;
    max-width: 100%;
    line-height: 1;
  }
}
.parallax-image-container {
  width: 100%;
  height: 100%;
  & > * {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: sizes.$laptop-breakpoint) {
  .title {
    font-size: 42px !important;
  }
  .container {
    max-height: 400px !important;
  }
}
