.pregunta-container {
}
.title-container {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;

  h2 {
    margin: 1rem 0;
    margin-right: auto;
  }
}

.separator-bar {
  width: 100%;
  height: 1px;
  background-color: #212121;
}

.respuesta {
  max-height: 0;
  overflow: hidden;

  transition: max-height ease 0.5s;

  p {
    font-weight: 400;
  }
  li {
    margin: 1rem 0;
  }
}
