@use "src/styles/sizes";
.wrapper {
  max-width: 1300px;
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: sizes.$laptop-breakpoint) {
  .wrapper {
    margin: 0 5rem;
  }
}
