@use "src/styles/sizes";

.header {
  position: fixed;
  z-index: 1000000;
  top: 0;
  background-color: transparent;
  transition: background-color 0.1s linear;
  color: white;
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.5rem 1rem;
  .logo {
    width: 56px;
    height: 56px;
  }
  .hamburger {
    z-index: 100000;
  }
}

@media screen and (min-width: sizes.$laptop-breakpoint) {
  .header {
    .hamburger {
      display: none;
    }
  }
}
