.header {
  position: fixed;
  z-index: 1000000;
  top: 0;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  .logo {
    width: 56px;
    height: 56px;
  }
  .nav {
    margin-left: auto;
    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      li {
        margin: 0 1rem;
      }
    }
  }
}
.link {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
